* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Microsoft Yahei;
}

html {
  overflow-y: scroll; /* for IE8 */
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
  --bg-color-l: #2b1136;
  --bg-color-r: #f1404b;
}

:root body {
  /*position: absolute;*/
}

body {
  width: 100vw;
  /*overflow: hidden;*/
}
::-webkit-scrollbar {
  /*整体样式*/
  width: 10px;
  height: 9px;
}
::-webkit-scrollbar-track {
  /*轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  /* background: #ededed; */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  /*滚动条小方块*/
  border-radius: 10px;
  /* background-color: #2e75d3; */
  background-color: #45aba1;
}

@media screen and (max-width: 1225px) {
  body {
    width: 1226px;
  }
}
img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}
a {
  border: none;
  text-decoration: none;
  color: #000;
}
.border {
  border: 1px solid #f00;
}
.center {
  margin: 0 auto;
}
.w {
  width: 1226px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml40 {
  margin-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.mb20 {
  margin-bottom: 20px;
}
.border2 {
  border: 2px solid #ff6700;
}
.ft20 {
  font-size: 20px;
}
.ftbc {
  color: #ff6700;
  font-weight: bold;
}
.pr {
  padding-right: 40px;
}
.h3 {
  font-size: 22px;
  font-weight: bold;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
