<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{admin/header :: header-fragment}"/>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <th:block th:insert="~{admin/header :: navbar-fragment}"/>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <th:block th:insert="~{admin/sidebar :: sidebar-fragment(${path})}"/>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!--                        <h1 class="m-0 text-dark">carousels</h1>-->
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">member</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">会员管理</h3>
                    </div>

                    <!-- search-content -->
                    <div class="search-content">
                        <form class="form-inline" id="search-form" action="javascript:;">
                            <div class="form-group">
                                <label class="">昵称</label>
                                <input type="text" class="form-control" id="nickName">
                            </div>
                            <div class="form-group">
                                <label class="m-l">登录名称</label>
                                <input type="text" class="form-control" id="loginName">
                            </div>
                            <div class="form-group">
                                <label class="m-l">身份状态</label>
                                <select class="form-control" id="lockedFlag">
                                    <option value="" selected>请选择</option>
                                    <option value="0">正常</option>
                                    <option value="1">锁定</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-success m-l" onclick="reload()">搜索</button>
                            <button type="button" class="btn btn-info m-l" onclick="javascrip:$('#search-form')[0].reset();">重置</button>
                        </form>
                    </div>
                    <!-- /search-content -->

                    <!-- .card-body -->
                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="lockUser(0)"><i
                                    class="fa fa-plus"></i>&nbsp;解除禁用
                            </button>
                            <button class="btn btn-danger" onclick="lockUser(1)"><i
                                    class="fa fa-trash-o"></i>&nbsp;禁用账户
                            </button>
                        </div>
                        <div class="card-body">
                            <table id="jqGrid" class="table table-bordered">
                            </table>
                            <div id="jqGridPager"></div>
                        </div><!-- /.card-body -->
                    </div>
                </div><!-- /.container-fluid -->
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="~{admin/footer::footer-fragment}"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- jqgrid -->
<script th:src="@{/admin/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:inline="javascript"> var _ctx = [[@{/}]]; </script>
<script th:src="@{/admin/dist/js/newbee_mall_user.js}"></script>
</body>
</html>
