<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="mall/header::head-fragment('NewBee商城-首页','index')"/>
    <link rel="stylesheet" th:href="@{'/mall/styles/coupon.css'}">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<slot id="content">
    <nav th:replace="mall/header::nav-fragment"></nav>

    <div id="seckill">
        <h2>秒杀专区</h2>
        <ul>
            <!-- 已配置新品则显示配置内容 -->
            <th:block th:unless="${#lists.isEmpty(seckillList)}">
                <th:block th:each="seckill : ${seckillList}">
                    <li>
                        <a th:href="@{'/goods/detail/'+${seckill.goodsId}}">
                            <img th:src="@{${seckill.goodsCoverImg}}" th:alt="${seckill.goodsName}">
                            <p class="name" th:text="${seckill.goodsName}">NewBeeMall</p>
                            <div class="priceMod">
                                <div class="seckillPrice">
                                    ￥<i th:text="${seckill.seckillPrice}">NewBeeMall</i>
                                </div>
                                <div class="originPrice">
                                    ￥
                                    <del th:text="${seckill.originPrice}" style="text-decoration:line-through; ">
                                        NewBeeMall
                                    </del>
                                </div>
                                <div class="seckillButton">
                                    <button>立即抢购</button>
                                </div>
                            </div>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>
</slot>
<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:inline="javascript"> var _ctx = [[@{/}]]; </script>
<script type="text/javascript">
    function saveCoupon(couponId) {
        $.ajax({
            type: 'POST',
            url: _ctx + 'coupon/' + couponId,
            success: function (result) {
                if (result.code == 200) {
                    swal("领取成功", {
                        icon: "success"
                    });
                    // window.location = _ctx + "coupon";
                } else {
                    swal(result.msg, {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("领取失败", {
                    icon: "error",
                });
            }
        });
    }
</script>
</body>
</html>
