<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.core.dao.CarouselsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.core.entity.Carousels">
        <id column="carousel_id" property="carouselId"/>
        <result column="carousel_url" property="carouselUrl"/>
        <result column="redirect_url" property="redirectUrl"/>
        <result column="carousel_rank" property="carouselRank"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <sql id="selectCarousels">
        select t.carousel_id, t.carousel_url, t.redirect_url, t.carousel_rank, t.is_deleted, t.update_time, t.update_user, t.create_time
        from tb_newbee_mall_carousel t
    </sql>

    <select id="selectListPage" parameterType="ltd.newbee.mall.core.entity.Carousels" resultMap="BaseResultMap">
        <include refid="selectCarousels"></include>
        <where>
            t.is_deleted = 0
        </where>
    </select>
</mapper>
