<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.core.dao.CouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.core.entity.Coupon">
        <result column="coupon_id" property="couponId"/>
        <result column="name" property="name"/>
        <result column="coupon_desc" property="couponDesc"/>
        <result column="coupon_total" property="couponTotal"/>
        <result column="discount" property="discount"/>
        <result column="min" property="min"/>
        <result column="coupon_limit" property="couponLimit"/>
        <result column="coupon_type" property="couponType"/>
        <result column="status" property="status"/>
        <result column="goods_type" property="goodsType"/>
        <result column="goods_value" property="goodsValue"/>
        <result column="code" property="code"/>
        <result column="days" property="days"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="selectCoupon">
        select t.coupon_id, t.name, t.coupon_desc, t.coupon_total, t.discount, t.min, t.is_deleted,
        t.coupon_limit, t.coupon_type, t.status, t.goods_type, t.goods_value, t.code, t.days, t.create_time, t.update_time
        from tb_newbee_mall_coupon t
    </sql>

    <select id="selectListPage" parameterType="ltd.newbee.mall.core.entity.Coupon" resultMap="BaseResultMap">
        <include refid="selectCoupon"></include>
        <where>
            and t.is_deleted = 0
            <if test="coupon.name != null and coupon.name != ''">
                and name LIKE CONCAT('%',#{coupon.name},'%')
            </if>
            <if test="coupon.couponType != null">
                and coupon_type = #{coupon.couponType}
            </if>
            <if test="coupon.status != null">
                and status = #{coupon.status}
            </if>
            <if test="coupon.startTime != null and coupon.startTime != ''">
                and DATE_FORMAT(t.create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{coupon.startTime},'%Y-%m-%d')
            </if>
            <if test="coupon.endTime != null and coupon.endTime != ''">
                and DATE_FORMAT(t.create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{coupon.endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <!--
    查询可用的优惠卷，不包括已经领完的
    WHERE
    t.is_deleted = 0
    AND t.coupon_type = 0
    AND t.STATUS = 0
    AND (
    t.coupon_total = 0
    OR t.coupon_total > ( SELECT count(*) FROM tb_newbee_mall_coupon_user u WHERE u.user_id = 1 AND u.coupon_id = t.coupon_id ))-->
    <select id="selectAvailableCoupon" resultMap="BaseResultMap">
        <include refid="selectCoupon"></include>
        <where>
            t.is_deleted = 0
            AND t.coupon_type = 0
            AND t.STATUS = 0
        </where>
        order by create_time desc limit 25
    </select>

    <update id="reduceCouponTotal">
        update tb_newbee_mall_coupon
        set coupon_total = coupon_total - 1
        where coupon_id = #{couponId} and coupon_total > 0
    </update>
</mapper>
