<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.core.dao.SeckillDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.core.entity.Seckill">
        <id column="seckill_id" property="seckillId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="seckill_price" property="seckillPrice"/>
        <result column="seckill_num" property="seckillNum"/>
        <result column="status" property="status"/>
        <result column="seckill_rank" property="seckillRank"/>
        <result column="seckill_begin" property="seckillBegin"/>
        <result column="seckill_end" property="seckillEnd"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="selectSeckill">
        select s.seckill_id,
               s.goods_id,
               s.seckill_price,
               s.seckill_num,
               s.seckill_rank,
               s.status,
               s.seckill_begin,
               s.seckill_end,
               s.update_time,
               s.create_time,
               s.is_deleted
        from tb_newbee_mall_seckill s
    </sql>

    <select id="selectListPage" parameterType="ltd.newbee.mall.core.entity.Seckill" resultMap="BaseResultMap">
        <include refid="selectSeckill"/>
        <where>
            s.is_deleted = 0
            <if test="seckill.goodsId != null">
                and s.goods_id = #{seckill.goodsId}
            </if>
            <if test="seckill.status != null">
                and s.status = #{seckill.status}
            </if>
            <if test="seckill.startTime != null and seckill.startTime != ''">
                and DATE_FORMAT(s.create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{seckill.startTime},'%Y-%m-%d')
            </if>
            <if test="seckill.endTime != null and seckill.endTime != ''">
                and DATE_FORMAT(s.create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{seckill.endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <update id="reduceStock">
        update tb_newbee_mall_seckill
        set seckill_num = seckill_num - 1
        where seckill_id = #{seckillId}
          and seckill_num <![CDATA[ > ]]> 0
          and seckill_begin  <![CDATA[ <= ]]>  #{now}
          and seckill_end  <![CDATA[ >= ]]>  #{now}
    </update>

    <update id="addStock">
        update tb_newbee_mall_seckill
        set seckill_num = seckill_num + 1
        where seckill_id = #{seckillId}
    </update>

    <select id="killByProcedure" statementType="CALLABLE">
        call execute_seckill (
            #{seckillId, jdbcType = BIGINT, mode = IN },
            #{userId, jdbcType = BIGINT, mode = IN },
            #{killTime, jdbcType = TIMESTAMP, mode = IN },
            #{result, jdbcType = INTEGER, mode = OUT }
            )
    </select>
</mapper>
