<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.core.dao.ShopCatDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.core.entity.ShopCat">
        <id column="cart_item_id" property="cartItemId"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_count" property="goodsCount"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="selectShopCat">
        select cart_item_id,
        user_id,
        goods_id,
        goods_count,
        is_deleted,
        create_time,
        update_time
        from tb_newbee_mall_shopping_cart_item
    </sql>

    <select id="selectListPage" parameterType="ltd.newbee.mall.core.entity.ShopCat" resultMap="BaseResultMap">
        <include refid="selectShopCat"></include>
        <where>
            is_deleted = 0
        </where>
    </select>
    <select id="selectByUserIdAndGoodsId" resultType="ltd.newbee.mall.core.entity.ShopCat">
        <include refid="selectShopCat"></include>
        <where>
            is_deleted = 0
            and user_id = #{userId}
            and goods_id = #{goodsId}
        </where>
    </select>
</mapper>
